<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <style>
        body {
            font-family: arial;
            margin: 0;
        }
        
        nav {
            background: black;
            padding: 20px 10px;
        }
        
        nav ul {
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        
        nav li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        
        nav a {
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        
        main,
        header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <<% if (user) { %>
                <li><a href="/v1/users/logout">Log out</a></li>
                <% } else { %>
                    <li><a href="/v1/users/login">Login</a></li>
                    <% } %>
                        <li><a href="/">Homepage</a></li>
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to your profile,
            <%=user.fullname%>
        </h1>

    </header>
    <main>
        <p></p>
    </main>
</body>

</html>